# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/
venv/
env/
.venv/

# Data (CSVs locales — no subir a git)
*.csv
data/raw/
data/processed/
tmp/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.env

# Misc
*.log
.env
.claude/*
